* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.navbar{}

.cnav{}

.logo{
    text-transform: uppercase;
    padding-left: 100px;
}

.collapse{
}
.cnav{
    
}
div ul {
}

div ul li {}

div ul li a {}

.nav-item{
    text-transform: uppercase;
}

.fa-search{
    padding-right: 150px;
    
}
  